body {
    margin: 0;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.2;
    background-image: url("../../public/images/expense-tracker-4-bg.png");
    background-repeat: no-repeat;
    background-size: 140%;
    background-position: center;
    z-index: -2;
}

.landing-page{
    height: 100vh;
    width: 100vw;
}

.container{
    display: flex;
    justify-content: space-around;
}

.hero-image-with-logo-name{
    width: 50%;
}

h1{
    color: #1E8795;
    font-family: 'Lilita One', sans-serif;
    font-size: 50px;
}

.logo-name{
    padding: 2% 0 0 5%;
}

.hero-image-wrapper{
    background-repeat: no-repeat;
    background-image: url("../../public/images/expense-tracker-5-bg.png");
    background-repeat: no-repeat;
    background-position-x: 15%;
    background-position-y: 90%;
    background-size: 50%;
}

.hero-image{
    width: 80%;
    object-fit: contain;
}

.line{
    border: 5px solid black;
    margin: 10% 0 0;
    border-radius: 100px;
}

.login-form-container{
    margin-top: 10%;
    margin-right: 10%;
    width: 30%;
    font-family: 'Jua', sans-serif;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 10%;
}

.login-form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.submit-buttons{
    display: flex;
    justify-content: space-between;
}

input[type = submit]{
    background-color: #A556F3;
    border-radius: 10px;
    font-family: 'Jua', sans-serif;
    font-size: 30px;
    border: none;
    cursor: pointer;
}

input[type = text] , [type = password]{
    border: none;
    border-radius: 10px;
    height: 50px;
    background-color: #CBC8C8;
}

